*{
    box-sizing: border-box;
}

body{
    margin: auto;
    font-family: sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 25px;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    margin: 50px auto;
}

.block{
    width: calc(100%/3 - 20px);
    margin: 10px;
    border: 1px solid #090809;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.block-img{
    height: calc(((100vw - (100vw - 900px))/3 - 20px) /2);
    flex: 0 0 auto;
    border-bottom: 1px solid #ccc;
}

.block-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #23282b;
}

.block-desc{
    padding: 15px;
    flex-grow: 1;
}

.block-link{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.block-link a{
    color: #494949;
    display: block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;
    transition: 0.2s ease;
}

.block-link a:hover{
    background-color: #ccc;
    color: #fff;
}

span{
    text-align: center;
}

.html{
    color: #dc143c;
}

.css{
    color: #4682b4;
}

.js{
    color: #f7c224;
}

.react{
    color: #4682b4;
}

.angular{
    color: #dc143c;
}

.vuejs{
    color: #77dd77
}



.wrapper .block .name{
    border-bottom: 1px solid #090809;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.card-blue:hover{
    transform: scale(1.02);
    box-shadow: -7px 4px 28px -3px #3bd9d9;
}

.card-orange:hover{
    transform: scale(1.02);
    box-shadow: -7px 4px 28px -3px #ff9500;
}

.card-ouro:hover{
    transform: scale(1.02);
    box-shadow: -7px 4px 28px -3px #ffd700
}

.card-green:hover{
    transform: scale(1.02);
    box-shadow: -7px 4px 28px -3px #32cd32;
}


@media (max-width: 768px){
    .block{
        width: calc(100%/2 - 20px);
    }

    .block-img{
        height: calc((100vw /2 - 20px) /2);
    }
}

@media (max-width: 425px){
    .block{
        width: calc(100% - 20px);
    }

    .block-img{
        height: calc((100vw - 20px) /2);
    }
}

@media (max-width: 320px){
    .block{
        width: calc(100%);
        margin: 10px 0;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0,2);
        border: none;
    }

    .block-img{
        height: calc(100vw /2);
    }
}



